extends layout

block content
 .countdown-timer
  ul#countdown
    .clock
      span.one  00:00:00:00
      span.two
    .clock-time
      span.one Days | Hours | Mins | Sec 
      span.two
  .banner
  center
    img.banner-image(src='https://s8.postimg.org/hz32exzr9/Banner_image.png')
  .container
  .racePromo
    .CTA
      .tagline Im Making History
      .tagline-text Follow me on my Journey
      form
      center
        .button
          span.button-text Sign-Up
    .CTA-text
      p
        | I’m honored and excited to be one of the ten chosen athletes for the 2017 Sir
        | Chinmoy Self-Transcendence 3100 Mile Race in New York. The 3100 Mile Race is
        | the LONGEST certified footrace in the WORLD. I must average 59.6 miles per day
        | for 52 straight days in order to reach 3100 Miles. I’m very excited to announce
        | that I will be the first African American male or female, the oldest female, the first
        | pedestrian (es) and the second American Woman to ever toe the line. My
        | strength and lightness on my feet are my amazingly awesome assets!!!
    <br>
  .hashtagblock
    span.hashtag #TheWalkingDiva
  .CTA-Blocks
    a(href='#')
              img(style='height:250px', src='https://s20.postimg.org/kaaesa3gt/My_Book_CTA.png')
    a(href='#')
              img(style='height:250px',src='https://s20.postimg.org/liyadwvf1/Events_CTA.png')

    a(href='#')
              img(style='height:250px',src='https://s20.postimg.org/deq6968zx/Records_CTA.png')


  .titles
    .blog-title
      span.blog BLOG POST
    .video-title
      span.video VIDEOS
  .comboblocks
    .blog-entry-1
      .blog-title
        h1 January 1, 2017
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
    .video-1
      iframe(width='300', height='200', src='https://www.youtube.com/embed/MLu2bWYxTgQ', frameborder='0', allowfullscreen='')
  .comboblocks
    .blog-entry-2
      .blog-title
        h1 January 1, 2017
      p
        | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
    .video-1
      iframe(width='300', height='200', src='https://www.youtube.com/embed/NtwDIDidRR4', frameborder='0', allowfullscreen='')
  .comboblocks
    .blog-entry-3
      .blog-title
        h1 January 1, 2017
      p
        | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
    .video-1
      iframe(width='300', height='200', src='https://www.youtube.com/embed/QBCNwlenj-w', frameborder='0', allowfullscreen='')
