doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='apple-touch-icon', href='app')
  link(rel='stylesheet', href='css/normalize.min.css')
  link(rel='stylesheet', href='style.css')
  script(src='js/vendor/modernizr-2.8.3.min.js')
//if lt IE 8
  p.browserupgrade
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.
.container
  nav
    .main-nav
      .header-logo
        li
          a.logo(href='/')
            img(style='height:55px', src='https://s9.postimg.org/5jybxsigv/Yolanda_holder_logo.png')
      .nav-links
        ul(style='display: flex;justify-content: space-between;')
          li
            a(href='mystory') My Story
          li
            a(href='extreme-walk-4-diabetes') Extreme Walk 4 Diabetes
          li
            a(href='speaking-engagements') Speaking Engagements
          li
            a(href='contact') Contact Me
      .social-media-icons
        ul(style='display: flex;justify-content: space-between;')
          li
            a(href='#')
              img(style='height:30px', src='https://s20.postimg.org/mi15tjaq5/facebook_icon.png')
          li
            a(href='#')
              img(style='height:30px', src='https://s20.postimg.org/rhym1hgct/twitter_icon.png')
          li
            a(href='#')
              img(style='height:30px', src='https://s20.postimg.org/dx7u2d0jx/instagram_icon.png')
          li
            a(href='#')
              img(style='height:30px', src='https://s20.postimg.org/i7mhxy5n1/pinterest_light_icon.png')

     block content
    hr
 .footer
  .footerblock-1
    .footer-logo
      center
        img(src='https://s9.postimg.org/5jybxsigv/Yolanda_holder_logo.png')
    .brand-name
      span Yolanda Holder LLc
  .footerblock-2
    .footer-links
      ul
        li About
        li My Story
        li Announcements
    .brand-name
  .footerblock-3
    .footer-links
      ul
        li Support
        li Contact Us
        li Donate
  .footerblock-4
    .footer-links
      ul
        li Legal
        li Privacy Notice
        li Fair Labor Notice